/* new-style April 2024 start */
.single-post-page ul:not([class]) {
  padding-bottom: 0;
}

.new-post-page {
  .single-post-page-wrap {
    max-width: 675px;
    margin: 35px auto;
    h1 {
      color: #3D3935;
      font-size: 48px;
      font-weight: 700;
      line-height: 1.2;
    }



    .blog-content {
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 23px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      h2 {
        color: #3D3935;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 30px;
      }

      h3 {
        color: #3D3935;
        font-size: 35px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 30px;
      }

      ul:not([class]) {
        padding-left: 8px;
        --bullet-color: currentColor;

        li {
           color: #3D3935;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 11px;
        }
      }
    }

    p.purple-text {
      color: #743BBC;
      font-size: 23px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 50px;
    }

    p.content-default_subtitle {
      color: #743BBC;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    .post-date-wrap {
      margin: 30px 0 45px;

      .post-date {
        margin-bottom: 0;
        img {
          width: 56px;
          height: 56px;
        }

        span {
          color: #888B8D;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.2;

          >em {
            display: inline-block;
            margin: 0 5px;
          }
        }
      }
    }


    .content-default_preview-image {
      margin: 45px 0;
      img {
        width: 100%;
      }
    }

    .content-default_cta {
      border-radius: 5px;
      background: #EEF3FB;
      padding: 30px 25px;
      margin: 35px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 40px;
    }

    .content-default_cta-title {
      p {
        color: #743BBC;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .content-default_cta-btn {
      flex-shrink: 0;
      .button {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .button-yellow {
      color: #3d3935 !important;
      background: #f9e27d;
      border: 0.0625rem solid transparent;
    }

    p.content-default_bottom_text {
      margin-top: 45px;
      color: #888B8D;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

@media (max-width: 1023px){
  .new-post-page {
    .single-post-page-wrap {
      margin: 10px auto;
      h1 {
        font-size: 38px;
        margin-bottom: 25px;
      }
      .post-date-wrap {
        margin: 20px 0;
      }
      .content-default_preview-image {
        margin: 20px 0;
      }
      p.purple-text {
        margin-bottom: 20px;
        font-size: 18px;
      }
      p.content-default_subtitle {
        margin-bottom: 10px;
        font-size: 14px;
      }
      .blog-content {
        p {
          margin-bottom: 15px;
        }
        h2 {
          font-size: 35px;
        }
        h3 {
          font-size: 30px;
          margin: 20px 0;
        }
      }
      .content-default_cta {
        margin: 20px 0;
        grid-gap: 10px;
        padding: 20px;
      }
      .content-default_cta-title {
        p {
          font-size: 18px;
        }

      }
    }
  }
}

@media (max-width: 468px){
  .new-post-page {
    .single-post-page-wrap {
      .post-date-wrap .post-date {
        span {
          font-size: 14px;
        }
      img {
        width: 36px;
        height: 36px;
      }
    }
    .content-default_cta {
      flex-direction: column;
      text-align: center;
    }
    }
  }
}

/* new-style April 2024 end */